@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

input,
textarea {
    outline: none;
}

input:active,
textarea:active {
    outline: none;
}

:focus {
    outline: none;
}

textarea {
    resize: none;
}

textarea {
    resize: vertical;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #120929;
}

.container {
    width: 1920px;
    margin: 50px auto;
}

.block {
    width: 1366px;
    height: 768px;
    margin: 0px auto;
    background: radial-gradient(63.88% 129.61% at 25.55% 31.91%, #20135C 0%, #140739 92.82%);
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.25);
    padding: 69px 0 0 72px;
    border-radius: 8px;
    display: flex;
    position: relative;
}

.input_form {
    width: 480px;
    height: 595px;
    background: linear-gradient(180deg, #1E1156 0%, rgba(28, 35, 64, 0) 100%);
    filter: drop-shadow(0px 25px 25px rgba(0, 3, 32, 0.5));
    border-radius: 8px;
    z-index: 10;
}

.right_title {
    width: 295px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 259px;
    margin-top: 230px;
}

.right_title-title {
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 85px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background: linear-gradient(271.88deg, #3887FE 4.26%, #3BA0FF 51.37%, #5FB2FF 99.01%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0px 5px 12px rgba(6, 5, 19, 0.25);
    border-radius: 5px;
}

.right_title-line {
    width: 175px;
    height: 3px;
    background-color: #1288E8;
}

.right_title-text {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-shadow: 0px 4px 20px rgba(1, 143, 255, 0.15);
}

.wave {
    position: absolute;
    top: 210px;
    left: 30px;
}

.wave_one {
    position: absolute;
    top: 0px;
    left: 285px;
}

.polygon_one {
    width: 130px;
    position: absolute;
    top: 475px;
    left: 757px;
    transform: rotate(130deg);
}

.polygon_two {
    width: 80px;
    position: absolute;
    top: 150px;
    left: 37px;
    transform: rotate(160deg);
    z-index: 11;
}

.rectangle {
    position: absolute;
    width: 100px;
    left: 520px;
    top: 80px;
}

.input_form-title {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    text-shadow: 0px 4px 20px rgba(1, 143, 255, 0.15);
    margin: 82px 160px 62px;
}

#form {
    width: 380px;
    margin-left: 50px;
    position: relative;
}

.input {
    width: 380px;
    height: 58px;
    border: none;
    background: #2E3558;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding-left: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #616A8B;
    margin-bottom: 64px;
}


.input:nth-child(1) {
    margin-bottom: 26px;
}

.red {
    width: 105px;
    height: 42px;
    background: linear-gradient(88.43deg, #2F3453 11.5%, #242845 76.7%);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #949EC0;
}

.log {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    width: 105px;
    height: 42px;
    background: linear-gradient(271.88deg, #3887FE 4.26%, #3BA0FF 51.37%, #5FB2FF 99.01%);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    border: none;
    margin-left: 32px;
}

.forgot {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #5FB2FF;
    margin-top: 103px;
    display: block;
    text-align: center;
}